Results/
DBs/Homo*
DBs/Mus*
SRR*
Control*
Mouse*
Hep*
*batchjob*
test*
DBs/hisat2_index/Homo*
DBs/hisat2_index/Mus*
predicted*
samtool*
to-do.txt
temp_files/
New*
hisat-*
HISAT-*
TOPHAT*
Full*
FULL*
Sim*
nohup*
Subset*
subset*
nohup*
