Results/
DBs/Homo*
DBs/Mus*
SRR*
Control*
Mouse*
Hep*
Runs/
Things*
*batchjob*
test*
DBs/genome_index/*
DBs/genome_index/human/*
DBs/genome_index/mouse/*
predicted*
samtool*
to-do.txt
temp_files/
New*
hisat-*
HISAT-*
TOPHAT*
Full*
FULL*
Sim*
nohup*
Subset*
subset*
nohup*
